/*==============================================================*/

/*		COMMON CSS												*/

/*==============================================================*/

body {
	background-color: rgba(25, 25, 25, 1.0);
	color: rgba(255, 255, 255, 1.0);
	font-family: "Trebuchet MS";
	width: 80%;
	margin: auto;
	padding: 1px 0 0 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 1.0);
	border-radius: 30px;
	min-height: 3em;
	gap: 1px;
	flex-wrap: nowrap;
}

.nav-link {
	display: flex;
	/*background-color: rgba(255, 0, 0, 1.0);*/
	/*color: #124559;*/
	color: rgba(173, 52, 62, 1.0);
	font-weight: bold;
	flex-shrink: 0;
	min-height: 3em;
	align-items: center;
	justify-content: center;
	padding: 0 1em 0 1em;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}

.nav-link:hover {
	border-top: 2px solid rgba(173, 52, 62, 1.0);
	/*border-bottom: 2px solid rgba(173, 52, 62, 1.0);*/
	/*border-radius: 10px;*/
	transition: border-bottom 1s ease, border-top 1s ease;
}

a {
	text-decoration: none;
}

/*==============================================================*/

/*		FILE SPECIFIC CSS										*/

/*==============================================================*/

/*.build-img {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	align-content:center;
	/*animation-name: gear-turn;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;*/
	/*border: 2px solid white;*/
	/*margin: -20vh auto auto auto;
}*/

/*.build-img {
	display: block;
	border: 1px solid white;
	margin: 0 auto 0 auto;
	text-align: center;
	animation-name: gear-turn;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}*/

.construction {
	display: flex;
	width: 100%;
	height: 80vh;
	justify-content: center;
	align-items: center;
}

img {
	margin: 0 auto 0 auto;
	animation-name: gear-turn;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	height: 100px;
	width: 100px;
}

@keyframes gear-turn {
	from {
		rotate: 0deg;
	}
	to {
		rotate: -360deg;
	}
}

h1 {
	text-align: center;
}