body {
	background-color: rgba(25, 25, 25, 1.0);
	color: rgba(255, 255, 255, 1.0);
	font-family: "Trebuchet MS";
	width: 80%;
	margin: auto;
	padding: 1px 0 0 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 1.0);
	border-radius: 30px;
	min-height: 3em;
	gap: 1px;
	flex-wrap: nowrap;
}

.nav-link {
	display: flex;
	/*background-color: rgba(255, 0, 0, 1.0);*/
	/*color: #124559;*/
	color: rgba(173, 52, 62, 1.0);
	font-weight: bold;
	flex-shrink: 0;
	min-height: 3em;
	align-items: center;
	justify-content: center;
	padding: 0 1em 0 1em;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}

.nav-link:hover {
	border-top: 2px solid rgba(173, 52, 62, 1.0);
	/*border-bottom: 2px solid rgba(173, 52, 62, 1.0);*/
	/*border-radius: 10px;*/
	transition: border-bottom 1s ease, border-top 1s ease;
}

a {
	text-decoration: none;
}

/* ==================== COMMON CSS ABOVE ==================== */

.send-msg {
	background-color: rgba(0, 0, 0, 1.0);
	margin: 2em 0 2em 0;
	padding: 1em 0 2em 0;
	border-radius: 50px;
	height: 80vh;
}

/*.send-msg h1 {
	padding-bottom: 0.2em;
	border-bottom: 1px solid white;
}*/

.level-1 {
	/*border: 1px solid white;*/
	display: flex;
	margin: auto;
	width: 80%;
	height: 80vh;
	justify-content: center;
	align-items: center;
}

.level-1 textarea {
	min-width: 100%;
	min-height: 12em;
	max-width: 100%;
	max-height: 12em;
	box-sizing: border-box;
	/*border-radius: 10px;*/
}

.dual-col {
	display: flex;
	gap: 2%;
}

.dual-element {
	width: 49%;
}

.dual-element input {
	min-height: 2em;
	min-width: 100%;
	box-sizing: border-box;
	/*border-radius: 10px;*/
}

#msg-icon {
	height: 0.75em;
	width: auto;
}

.button {
	/*border: 1px solid white;*/
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	background-color: rgba(173, 52, 62, 1.0);
	color: rgba(255, 255, 255, 1.0);
	font-weight: bold;
	min-height: 3em;
	padding: 0 3em 0 3em;
	margin: 1em auto 1em auto;
}

/*.primary-contact {
	border: 1px solid white;
	width: 80%;
	height: 6em;
	margin: auto;
}*/

.contact-methods {
	border: 1px solid white;
	width: 100%;
	margin: auto;
}

.primary-contact {
	border: 1px solid green;
	max-width: 30%;
	height: auto;
}

.primary-contact img {
	border-radius: 50px;
}